.question{
    font-size: 16px;
    text-align: left;
    width: 600px;
    margin: 40px auto;
    border: 1px solid #000;
    border-radius: 5px;
}

.question .question-number{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 15px;
    border-bottom: 1px solid #000;
    background-color: #f5f5f5;
}

.question .question-body{
    padding: 10px 15px;
    font-size: 20px;
}
.question .answers{
    padding: 3px 10px;
}
.question .answer-item{
    display: block;
    padding: 5px 15px;
    border-top: 1px dashed #DDD;
}