body {
    background: #e8e8e8 !important;
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

#cloud-container{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;

    background-image: url("../../src/assets/background1.jpg");
    z-index:-1; /* Remove this line if it's not going to be a background! */
}

#Logo-container{
    position: fixed;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -300px;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("../../src/assets/Logo.png");
}
.form-signin {
    background-color: #f5f5f5;
    width: 100%;
    max-width: 330px;
    padding: 0px 15px 15px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -165px;
    border-radius: 10px 10px 10px 10px;
}
.form-signup {
    align-self: center;
    background-color: white;
    width: 100%;
    max-width: 330px;
    padding: 0px 15px 15px 15px;
    position: absolute;
    left: 50%;
    margin-top: 20px;
    margin-left:-165px;
    border-radius: 10px 10px 10px 10px;
}


.form-control {
position: relative;
box-sizing: border-box;
height: auto;
padding: 10px;
font-size: 16px;
    margin-bottom: 2px;
}
#usertypeLabel{
margin-bottom:0px !important;
}
.form-signin .form-control:focus {
z-index: 2;
}
.form-signin input[type="email"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
margin-bottom: -1px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.h3{
background: #343a40;
padding:10px;
text-align: center;
color:#fff;
border-radius: 0px 0px 10px 10px;
}